<%= form_tag action: 'bulk', class: 'form-inline' do %>

  <%= block.call %>

  <% if bulk_actions.any? %>
    <div class="well well-sm">
      <select id="bulk_action" name="batch_action">
        <option value="" selected="selected">Bulk actions</option>
        <% bulk_actions.each do |name, action| %>
          <option value="<%= action %>"><%= t(name) %></option>
        <% end %>
      </select>

      <%= submit_tag t('typus.buttons.apply'), name: nil, class: 'btn btn-default btn-xs' %>
    </div>
  <% end %>

<% end %>
